.home-card.card-1::before {
    background-color: #494e53;
}


.home-card {
    position: relative;
    width: 320px;
    height: 480px;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px auto;

    .review-heading {
        position: relative;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        font-size: 23px;
        text-align: center;
        font-weight: 100;
        font-family: "FontAwesome";
        margin-top: 39px;
        color: white;
        width: 80%;
        margin: 39px auto;
    }

    .main-review {
        position: relative;
        z-index: 1;
        background: white;
        width: 80%;
        height: 200px;
        margin: 0 auto;
        border-radius: 19px;
        bottom: -11%;
    }

    .main-review::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -26%;
        transform: skewY(345deg);
        transition: 0.3s;
        background: white;
        border-radius: 12px;
    }
}

.home-card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    transform: skewY(345deg);
    transition: 0.5s;
}

.home-card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.home-card::after {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
}


.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100px;
    top: -26%;
}

.img-box {
    background: lightgrey;
    width: 120px;
    height: 101px;
    margin-left: 13px;
    border-radius: 13px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 13px;
    }
}

p.review{
    z-index: 3;
    position: absolute;
    top: 37%;
    left: -1%;
    text-align: center;
}

h1.reviewMain-heading {
    font-weight: 900;
    font-size: 50px;
    background-clip: text;
    background-clip: text;
}
